*{
	margin: 0;
	padding: 0;


}
body{
	background-size: cover;
	font-size: 12px;

}
.section{
	/*background: green;*/
	/*text-align: center;*/
}
.img-dolar{
	width: 100%;
	text-align: center;

}
.img-dolar img{
	max-width: 100%;
}
.actualizar{
	float: right; 
	margin-top: 10px;
}

.wrap{
	width: 300px;
	max-width: 100%;
	float: left;

}
.widget{
	
	width: 100%;
/*	margin: 1em;*/
}
.widget p{
	display: inline-block;
	line-height: 12px;

}
.fecha{

	text-align: center;
	font-size: 12px;
	margin-bottom: 1px;
	padding: 10px;
	width: 100%;
}
.reloj{
	width: 100%;
	padding: 1px;
	font-size: 2em;
	text-align: center;
	
}
.reloj .caja-segundos{
	display: inline-block;
}
.reloj .segundos,
.reloj .ampm{
	font-size: 2rem;
	display: block;
}
.img-json{
	height: 350px;
 	
}

.img-json-2{
	margin-top: 35px;
}
.section-parrafo{
	font-size: 18px;
	font-family: 'PT Serif', serif;
	font-family: 'Baloo Chettan 2', cursive;
	margin-top: 5px;
	text-align: left;
}

.footer{
	height: 150px;
}
.text-footer{
	font-size: 14px;
}
.enlace{
	margin-top: 10px;
}
.enlace img{
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;



}





