*{
	margin: 0;
	padding: 0;


}
body{
	background-size: cover;
	font-size: 12px;

}
.section{
	/*background: green;*/
	/*text-align: center;*/
}
.img-dolar{
	width: 100%;
	text-align: center;

}
.img-dolar img{
	max-width: 100%;
}
.actualizar{
	float: right; 
	margin-top: 10px;

}

.section-parrafo{
	font-size: 16px;
	font-family: 'PT Serif', serif;
	font-family: 'Baloo Chettan 2', cursive;
	margin-left: -100px;
	margin-top: 50px;

	background: red;
}
.contenidox{
	background: blue;
	margin-top: 170px;
}



.wrap{
	width: 300px;
	max-width: 100%;
	float: left;

}
.widget{
	
	width: 100%;
/*	margin: 1em;*/
}
.widget p{
	display: inline-block;
	line-height: 12px;

}
.fecha{

	text-align: center;
	font-size: 12px;
	margin-bottom: 1px;
	padding: 10px;
	width: 100%;
}
.reloj{
	width: 100%;
	padding: 1px;
	font-size: 2em;
	text-align: center;
	
}
.reloj .caja-segundos{
	display: inline-block;
}
.reloj .segundos,
.reloj .ampm{
	font-size: 2rem;
	display: block;
}
.page-footer{
	text: center;
}

